.single-work {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.work-content {
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 30px;
    transition: .5s;
    transform: translateY(150%);
}

.single-work:hover .work-content {
    transform: inherit;
}

.work-content h4 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #3a4368;
}

.work-content h4 a {
    color: #3a4368;
    transition: .5s;
}

.work-content h4 a:hover,
.work-content h4 a:focus {
    color: #20c997;
    text-decoration: none;
}

.work-content p {
    margin-bottom: 0;
    font-size: 12px;
    color: #969cb4;
    letter-spacing: 1.8px;
}

h1 {
    color: red;
}